*{
    margin:0;
    padding:0;
}
.container{
    width: 250px;
    height:350px;
    margin:  50px auto;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}
.container:after,
.container:before{
    position: absolute;
    content: "";
    width: 250px;
    height:350px;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /*转到背面不显示*/
}
.container:after{
    background:url("./images/front.jpg");
    z-index:2;
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}
.container:before{
    background:url("./images/back.jpg");
    z-index:1;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}
.container:hover::after{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.container:hover::before{
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}