body{
    text-align: center;
    font-family: "SimSun";
    font-weight: 600;
}
div{
    display: inline-block;
    width: 56px;
    height:64px;
    background: #f7f6f6;
    border: 2px solid #ebebeb;
    font-size: 9px;
    text-align: center;
    line-height: 64px;
}