body{
    text-align: center;
}
span{
   padding: 0 5px;
}
button{
    margin: 30px auto;
    display: block;
    padding: 4px 10px;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 8px;
    outline:none;
}
button:active{
    background: rgba(0, 122, 204, 0.3);
}